.apr-tag {    
  background: linear-gradient(273deg, #FFE68F 7.43%, #F2CF4F 80.41%);
  @apply absolute top-0 right-0 h-10 rounded-tr-[16px] rounded-bl-xl py-2 px-4;
}
.apr-text {
  background: linear-gradient(180deg, #AC5C1B 29.17%, #603915 81.25%);
  background-clip: text;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply text-base font-semibold;
}